.title {
  margin-top: 5px;
  text-align: center;
}

.titleContainter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.questionButton {
  margin-top: -10px;
}

.popoverContainer {
  width: 450px;
}

.popoverTitle {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

.popoverText {
  font-size: 16px;
}