.title {
  margin-top: 5px;
  text-align: center;
}

.optionContainer {
  display: flex;
  justify-content: space-between;
}

.selectContainer {
  display: flex;
  column-gap: 20px;
  padding-bottom: 10px;
}

.selectTag {
  width: 165px;
}

.selectStudentGit {
  width: 165px;
}

.switchContainter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.switchWeight {
  margin: auto 0;
}

.switchName {
  margin: auto 0;
  text-align: center;
}