/* 420px size */
.liquidPlotContainer {
  width: 220px;
}

.barPlotContainer {
  width: 350px;
}

.countryContainer {
  width: 550px;
}


.mainPlotContainer {
  display: flex;
  justify-content: space-between;
}

.titleMain {
  margin-top: 5px;
  text-align: center;
}

.titleSecond {
  margin-top: 10px;
  text-align: center;
}