/* 420px size */
.liquidPlotContainer {
  width: 220px;
}

.barPlotContainer {
  width: 350px;
}

.countryContainer {
  width: 550px;
}


.mainPlotContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
}