.popoverContainer {
  width: 450px;
}

.popoverTitle {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

.popoverText {
  font-size: 16px;
}

.textMiddle {
  text-align: center;
}

.buttomBorder {
  border-bottom: 1px dotted black;
}